version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        WEBSERVER_PORT: ${WEBSERVER_PORT:-9019}
    environment:
      - PORT=${WEBSERVER_PORT:-9019}
    ports:
      - "${WEBSERVER_PORT:-9019}:${WEBSERVER_PORT:-9019}"
    networks:
      pulse:
        ipv4_address: ${IPV4_ADDRESS:-10.0.10.19}
    restart: unless-stopped

networks:
  pulse:
    external: true
