version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=${NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY}
    environment:
      - PORT=${WEBSERVER_PORT:-9019}
      - NODE_ENV=production
      - STRIPE_SECRET_KEY=${STRIPE_SECRET_KEY}
      - NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=${NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY}
    ports:
      - "${WEBSERVER_PORT:-9019}:${WEBSERVER_PORT:-9019}"
    restart: unless-stopped
    networks:
      pulse:
        ipv4_address: ${IPV4_ADDRESS:-10.0.10.19}

networks:
  pulse:
    external: true
